.section-hero {
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../Images/hero-bgc-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--back-color);

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .section-hero {
    max-width: 480px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../Images/mobile/Hero-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--back-color);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .section-hero {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../Images/tablet/Herotablet@2x.png);
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-hero {
    max-width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../Images/tablet/Herotablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--back-color);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../Images/tablet/Herotablet@2x.png);
    }
  }
}
